.back_top
{
  background-color: #363636;
  height: 40px;
}
.logoff
{
  margin-top: 1%;
  float: right;
}
.centralizaPerfil
{
  margin-top: 40px;
  margin-left: 22%;
  margin-right: 20%;
}

.back_login
{
  background-color: #3A5E86;
}
.cab-home
{
  margin-top: 25px;
}
.margin-button
{
  margin: 6px;
}
.centraliza
{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15px;
}
.barra-superior
{
  font-family: FontAwesome, BlinkMacSystemFont, serif;
  color: #e1ffff;
  font-weight: 900;
  font-size: 12px;
  line-height: 40px;
  vertical-align: middle;
  padding-left: 10px;
  overflow:auto;
}
.top
{
  margin-top: 45px;
}

.altura
{
  position: relative;
  height: 100%;
}
body { margin:0; }
.centre
{
  margin-left: 31%;
  margin-bottom: 10px;
}
.logout
{
  margin-bottom: 30px;
}

hr{
 border-color: #41403F;
}

.font
{
  font-style: oblique;
  font-size: 13px;
  color: #ffffff;
}

.deslocar
{
  padding-left: 70px;
  padding-top: 25px;
}

.card-marg
{
  margin-left: 20px;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
